<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="icon" href="https://banner2.kisspng.com/20171217/4b6/music-notes-png-5a3749ee3e43c2.830806461513572846255.jpg">
  </head>
  <body>
    <h1>Artists</h1>
    <p>Select an artist!</p>
      <form method='get' action='/artist'>
    <select name='name'>
      <option>Taylor Swift</option>
      <option>Rihanna</option>
      <option>Britney Spears</option>
      <option>Beyonce</option>
      <option>Christina Aguilera</option>
    </select>
    <input type = 'Submit'>
  </form>
  </body>
</html>
